{% url 'jobs:list' as job_list %}
{% url 'index' as index %}


<style>
    .nav_avatar{
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        }
</style>

<div class="top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container ">
  <a class="navbar-brand" href="{{index}}"><b class="ict">For</b>Rent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="{{index}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rent</a>
      </li>
      
      
      <!-- login and signup view-->
      {% if request.user.is_authenticated %} 
      {% if user.is_developer %}
      
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             
            </a>   
            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                <a class="dropdown-item" href="{% url 'developer_profile' user.developerprofile.slug %}">Dash Board</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
      </ul>

      {% elif user.is_employer %}
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            </a>   
            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                <a class="dropdown-item" href="{% url 'employer_profile' user.employerprofile.slug %}">Dash Board</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
      </ul>
      

      {% elif user.is_staff %}
      <ul class="navbar-nav ">
          <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
              </a>   
              <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                  <a class="dropdown-item" href="">Dash Board</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
          </li>
        </ul>
      {% endif %}

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

      {% endif %}

      <!-- end of login and sign up view -->

    
    </ul>
  </div>
  </div>
</nav>

</div>
<div class="spacer">
  
</div>
