{% include 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class='row'>
        <div class='col-md-4'>
            <div class='row'>
                {{ house }}
            </div>
        </div>
        <div class='col-md-8'>
            <div class='row'>
                map
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script type='text/javascript'>
//<![CDATA[
    $(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 105; // Calculate the top offset
    
    $('#map_canvas').css('height', (h - offsetTop));
    }).resize();

    $(function() {
      var myMap = new MapsLib({
        locationColumn:     "geometry",
        map_center:         [41.8781136, -87.66677856445312],
        locationScope:      "chicago"
      });

</script>
{% endblock %}