{% include 'base.html' %}
{% block content %}
{% load static %}
<!--nav bar-->

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='row'>
        
          <p>stuff</p>
          <div class='well'>
            <h4>
              Address <small>(<a id='find_me' href='#'>find me</a>)</small>
            </h4>
            <p>
              <input class='form-control' id='search_address' placeholder='Enter an address or an intersection' type='text' />
            </p>
            <p>
              <label>
                within
                <select id='search_radius'>
                  <option value='400'>2 blocks</option>
                  <option value='805'>1/2 mile</option>
                  <option value='1610'>1 mile</option>
                  <option value='3220'>2 miles</option>
                </select>
              </label>
            </p>

            <br />
            <h4>stuff</h4>
            <p>stuff</p>
            <div class='row'>
              <div class='col-md-6'>
                stuff
              </div>
              <div class='col-md-6'>
                stuff
              </div>
            </div>
            <br />
            <a class='btn btn-primary' id='search' href='#'>
              <i class='glyphicon glyphicon-search'></i>
              Search
            </a>
            <a class='btn btn-default' id='reset' href='#'>
              <i class='glyphicon glyphicon-repeat'></i>
              Reset
            </a>
            <br />
          </div>

      
      </div>
      <div class='row'>
        <p>stuff  </p>
          <div class='well'>
            <h4>
              stuff
            </h4>
            <p>
            
              stuff
             
            </p>
            <p>
              stuff 
            </p>

          <br />
          <h4>stuff</h4>
          <p>stuff</p>
          <div class='row'>
            <div class='col-md-6'>
              stuff
            </div>
            <div class='col-md-6'>
              stuff
            </div>
          </div>
          <br />
          stuff 
          <button type="button" onclick="loadDoc()">Request data</button>
          </div>
        <div>stuff </div>
      </div>
    </div>
    
    <div class='col-md-8'>
      <noscript>
        <div class='alert alert-info'>
          <h4>Your JavaScript is disabled</h4>
          <p>Please enable JavaScript to view the map.</p>
        </div>
      </noscript>
      <div id='map_canvas'>
          
      </div>
      <p class='pull-right'>
        stuff
      </p>
    </div>
  </div>
</div>
{% block javascript %}
<!-- javascript -->
<script type='text/javascript'>
//<![CDATA[
  $(window).resize(function () {
    var h = $(window).height(),
      offsetTop = 105; // Calculate the top offset
  
    $('#map_canvas').css('height', (h - offsetTop));
  }).resize();
//]]>

</script>

<script>
var data;
var map;  // Google map element.

//Initializes 'map' element.
function initMap() {
  map = new google.maps.Map(document.getElementById('map_canvas'), {
    center: new google.maps.LatLng(0, 0),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    zoom: 5
    });

    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address'));
}

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      data = this.responseText;
      getMarkers(data);
      
    }
  };
  xhttp.open("GET", "http://127.0.0.1:8000/houses/houses/", true);
  xhttp.send();
}


function getMarkers(data){
  jsondata = JSON.parse(JSON.parse(data)).features;
  for ( var i=0; i<jsondata.length; i++) {
    var lng = jsondata[i].geometry.coordinates[0];
    var lat = jsondata[i].geometry.coordinates[1];
    addMarkerToMap(map, lat, lng);
  }
  
}

function addMarkerToMap(map, lat, lng){
  var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
async defer></script>
{% endblock %}
{% endblock %}
    
  