{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h5 class="mb-3">You are logged in as {{ user }}...</h2>
    <ol>
</nav>           
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto py-3"> 
                
            
                <form method="post">
                    {% csrf_token %}

                    {{ form| crispy }}
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark" style="color:#1ebba3;">Update</button>
                    </div>
                </form>  
            
        </div>
    
    </div>
</div>

    

{% endblock%}