{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  CSS -->
    {% include 'base/css.html' %}
   
      
    <title>{% block title %}For Rent{% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'base/navbar.html' %}
    </header>
    
      {% block content %}{% endblock %}
   
    
    {% include 'base/footer.html' %}
    
  </body>
</html>