{% include 'base.html' %}

{% block content %}



<div id="map"></div>
{% if houses %}
<script>    
    function initMap() {
    var myLatLng = {lat: -1.2913472506516182  , lng: 36.82158678399196};

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: myLatLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker;


    {% for house in houses %}
    marker = new google.maps.Marker({
        position: new google.maps.LatLng('{{house.geolocation.lat}}', '{{house.geolocation.lon}}'),
        map: map,
        title: '{{house.name}}',
        url: '{% url "house_detail" house.slug %}'
        });

        
    {% endfor %}

    google.maps.event.addListener(marker, "click", function() {     
        window.open(this.url, "_blank");
        google.maps.event.trigger(map, 'resize');
        });

    }
</script>

{% endif %}
<div class="container"> 
<div class="row">
<div class="row border bg-light">

    <div class="col-md-4">
        hey
    </div>
    <div class="col-md-4">
        hey
    </div>

</div>
</div>

<div class="row">
<div class="py-5">
<div class="container">
    <div class="row">
    <div class="text-center mx-auto col-md-8">
        <h1 class="mb-3">I enjoy with my whole heart</h1>
    </div>
    </div>
    <div class="row">
        {% for image in images %}
    <div class="col-lg-3 col-md-6 p-3"> <img class="img-fluid d-block" src="{{ image.image.url }}"> </div>
        {% endfor %}
    </div>
</div>
</div>
</div> 
</div>

{% endblock %}